html,body{
    margin: 0px;
    border: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;

}

#map{
    padding:0px;
    width: 700px;
    height: 700px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.blockFree{
    display: block;
 
}

.snakeBlock{
    background: red !important;
}

.foodBlock{
    background: green !important;
}

#controls-content{
    display: ;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#controls-content button {
    font-size: 1.5rem;
}

/* Desk */
@media (min-width:1200px){
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: red;
        
    }
    #map{
    padding:0px !important;
    width: 90vh;
    height: 90vh;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}
    }
    #game-content{ 
        margin: 0 auto;
        background-color: pink;
        display: flex;
    }
    #controls-content{
        display: block;
    }
    #data-content{
        padding: 100px;
        background-color: orange;
    }
}